.container {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 60;
    line-height: 64px;
    background-color: #5784e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}