.title {
    font-size: 26px;
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    height: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #0a1f44;
}

.list__item {
    width: 200px;
    margin: 20px;
    position: relative;
    border-radius: 3px;
    background-color: #fff9f2;
}

.item__name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.item__link {
    outline: none;
    text-decoration: none;
    color: black;
}

.item__link:hover {
    opacity: 0.5;
}

.item__link:hover .photo__overlay {
    opacity: 1;
    color: black;
}

.building__photo {
    width: 100%;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
    object-position: top center;
}

.building__photo:hover {
    filter: brightness(0.5);
    transform: scale(0.9);
}

.photo__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0
}




